/* MODIFICACIONES A BOOTSTRAP */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar .btn {
    color: #999;
}
.navbar .dropdown-menu {
    top: 55px;
}
.navbar .dropdown-item {
    color: #999;
}
.navbar .dropdwon-item:focus,
.navbar .dropdown-item:hover {
    background-color: darkorange;
    color: white;
}
.btn:focus {
    box-shadow: none;
}
.navbar-brand {
    color: #999 !important;
}
.bg-orange {
    background-color: darkorange !important;
}
.nav-item a {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: white !important;
    transition: .5s all;
}
.nav-item:focus,
.active > .nav-link,
.nav-item:hover a{
    background-color: #f8f9fa;
    color: #999 !important;
}

/* PERSONALES */
.bienvenido {
    color: #999;
    vertical-align: middle
}
.top {
    padding-top: 12px;
    padding-bottom: 12px;
}